table{
    width: 50vw;
    height: 50vh;
    padding: auto;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: teal; */

    /* justify-content: center; */
}

.mat-header-cell {
    /* color: rgb(224 17 17 / 54%); */
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    background-color: rgb(29, 138, 138);
    padding:30px;
}

.mat-cell{
font-size: 13px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.img{
   width: 50px;
   
}
.img img{
    width: 100%;
}